<section>
   <aside class="homebanner">
      <div id="sync1">
         <div class="item">
            <a href='dtdd/samsung-galaxy-note-fe.html' onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=16512&r='+ (new Date).getTime(),   async: true, cache: false });" ><img  src='static/images/qcao/13_11_2017_11_32_25_Samsung-Note-FE-800-300.jpg' alt='2017 - T11 - Galaxy Note FE - Thay KM'   /></a>                
         </div>
         <div class="item">
            <a href='tra-gop/home-credit.html' onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=15964&r='+ (new Date).getTime(),   async: true, cache: false });" ><img  class='lazyOwl' data-src='static/images/qcao/30_10_2017_10_00_40_HC-Tra-Gop-800-300.png' alt='2017 - T11 - Tra Gop HC'   /></a>                
         </div>
         <div class="item">
            <a href='dtdd/oppo-f5.html' onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=16219&r='+ (new Date).getTime(),   async: true, cache: false });" ><img  class='lazyOwl' data-src='static/images/qcao/10_11_2017_16_25_39_Launching-Oppo-F5-800-300.png' alt='2017 - T11 - Oppo F5'   /></a>                
         </div>
         <div class="item">
            <a href='apple.html' onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=16447&r='+ (new Date).getTime(),   async: true, cache: false });" ><img  class='lazyOwl' data-src='static/images/qcao/13_11_2017_16_13_26_iphone-big-800-300.png' alt='2017 - T11 - Apple Big'   /></a>                
         </div>
         <div class="item">
            <a href='loa-laptop.html' onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=16017&r='+ (new Date).getTime(),   async: true, cache: false });" ><img  class='lazyOwl' data-src='static/images/qcao/31_10_2017_00_44_51_phu-kien-loa-blu-800-300.png' alt='2017 - T11 - PK Chung'   /></a>                
         </div>
         <div class="item">
            <a href='dtdd/mobiistar-zumbo-s2-dual.html' onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=16403&r='+ (new Date).getTime(),   async: true, cache: false });" ><img  class='lazyOwl' data-src='//cdn3.tgdd.vn/qcao/08_11_2017_16_37_17_Mobiistar-Zumbo-S2-Dual-800-300.png' alt='2017 - T11 - Zumbo S2 Dual'   /></a>                
         </div>
         <div class="item">
            <a href='dtdd/huawei-nova-2i.html' onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=16532&r='+ (new Date).getTime(),   async: true, cache: false });" ><img  class='lazyOwl' data-src='static/images/qcao/13_11_2017_10_42_22_HUAWEI-TRUNGLOA-800-300.png' alt='2017 - T11 - Huawei'   /></a>                
         </div>
      </div>
      <div id="sync2">
         <div class="item">
            <h3>Galaxy Note FE Tặng Quà Khủng, PMH 500 Ngàn</h3>
            <i class="arrowbar"></i>
         </div>
         <div class="item">
            <i class="arrowbarleft"></i>
            <h3>Lễ Hội Trả Góp 0%<br/>Duyệt Nhanh 10 Phút</h3>
            <i class="arrowbar"></i>
         </div>
         <div class="item">
            <i class="arrowbarleft"></i>
            <h3>Sắm Oppo F5<br/>Trả Góp 0%</h3>
            <i class="arrowbar"></i>
         </div>
         <div class="item">
            <i class="arrowbarleft"></i>
            <h3>iPhone Tặng Voucher 2 Triệu Hoặc Trả Góp 0%</h3>
            <i class="arrowbar"></i>
         </div>
         <div class="item">
            <i class="arrowbarleft"></i>
            <h3>Sắm Loa Bluetooth<br/>Giảm Sốc 40%</h3>
            <i class="arrowbar"></i>
         </div>
         <div class="item">
            <i class="arrowbarleft"></i>
            <h3>Mobiistar Zumbo S2 Dual<br/>Trả Góp 0% Lãi Suất</h3>
            <i class="arrowbar"></i>
         </div>
         <div class="item">
            <i class="arrowbarleft"></i>
            <h3>Sắm Huawei Nova 2i<br/>Trúng Loa Harman Kardon</h3>
         </div>
      </div>
   </aside>
   <aside class="homenews">
      <figure>
         <h2><a href="tin-tuc.html">Tin công nghệ</a></h2>
         <b></b>
         <a title="Viettel Tặng 50% giá trị nạp thẻ - 20/11" href="sim-so-depa354.html?active=viettel" class="liveevent card" target="_blank"><span id="dot"><span class="ping"></span></span><span class="text"><strong>Viettel TẶNG 50%</strong> giá trị thẻ nạp - 20/11</span></a>
      </figure>
      <ul>
         <li>
            <a href="tin-tuc/trai-nghiem-mot-ngay-quay-video-cung-voi-oppo-f5-1041399.html">
               <img width="100" height="70" src="static/images/Files/2017/11/14/1041399/avt_1280x720-100x100.jpg">
               <h3>Trải nghiệm một ng&#224;y quay video c&#249;ng với Oppo F5
               </h3>
               <span>27 ph&#250;t trước</span>
            </a>
         </li>
         <li>
            <a href="tin-tuc/top-smartphone-pin-trau-gia-chi-duoi-3-trieu-dong-1042775.html">
               <img width="100" height="70" src="static/images/Files/2017/11/19/1042775/cplus_800x450-100x100.jpg">
               <h3>TOP những smartphone pin &quot;tr&#226;u&quot; x&#224;i cả ng&#224;y, gi&#225; dưới 3 triệu đồng
               </h3>
               <span>27 ph&#250;t trước</span>
            </a>
         </li>
         <li>
            <a href="tin-tuc/paramout-pictures-vua-ra-mat-phong-chieu-phim-thuc-te-ao-1042741.html">
               <img width="100" height="70" src="static/images/Files/2017/11/19/1042741/paramount_logo_1200x655-100x100.jpg">
               <h3>Paramount Pictures ra mắt ph&#242;ng chiếu phim thực tế ảo, xem phim đ&#227; hơn
               </h3>
               <span>2 giờ trước</span>
            </a>
         </li>
      </ul>
      <div class="twobanner">
         <a href='mua-online-gia-re-hon.html#samsung' onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=16617&r='+ (new Date).getTime(),   async: true, cache: false });" ><img  src='static/images/qcao/16_11_2017_10_35_10_Samsung-20-11-195-75.png' alt='2017 - T11 - Samsung - Tri Ân Thầy Cô'   /></a>
         <a href='dtdd-sony.html' onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=16299&r='+ (new Date).getTime(),   async: true, cache: false });" ><img  src='static/images/qcao/05_11_2017_21_11_08_Sony-Xperia-Tra-gop-195-75.jpg' alt='2017 - T11 - Sony Xperia'   /></a>    
      </div>
   </aside>
   <div class="clr"></div>
   <!-- home products -->
   <ul class="homeproduct">
      <li>
         <a href="dtdd/samsung-galaxy-j7-plus.html">
            <img width="388" height="180" src="static/images/Products/Images/42/112970/Feature/samsung-galaxy-j7-plus-3-400x400.jpg">
            <h3>Samsung Galaxy J7+</h3>
            <label class="installment">Trả góp 0%</label>
            <strong>8.690.000₫</strong>
         </a>
         <figure class="bginfo">
            <span class="name">Samsung Galaxy J7+</span>
            <strong>8.690.000₫</strong>
            <div class="promotion">
               <span> Cơ hội tr&#250;ng xe SH150i (&#225;p dụng H&#224; Nội v&#224; 1 số tỉnh miền Bắc)</span>
               <span> Phiếu mua h&#224;ng Samsung trị gi&#225; 250.000đ</span>
            </div>
            <span>M&#224;n h&#236;nh: 5.5&quot;, Full HD</span>
            <span>HĐH: Android 7.0</span>
            <span>CPU: MediaTek Helio P25 8 nh&#226;n</span>
            <span>RAM: 4 GB, ROM: 32 GB</span>
            <span>Camera: 13 MP v&#224; 5 MP (2 camera), Selfie: 16 MP</span>
            <span>PIN: 3000 mAh</span>
            <label class="compr" onclick="qcp_addProdQcp('112970','42','Samsung Galaxy J7+')">So sánh với</label>
         </figure>
      </li>
      <li>
         <a href="dtdd/iphone-8-plus.html">
            <img width="388" height="180" src="static/images/Products/Images/42/114110/Feature/iphone-8-plus2-400x400.jpg">
            <h3>iPhone 8 Plus 64GB</h3>
            <label class="installment">Trả góp 0%</label>
            <strong>23.990.000₫</strong>
         </a>
         <figure class="bginfo">
            <span class="name">iPhone 8 Plus 64GB</span>
            <strong>23.990.000₫</strong>
            <div class="promotion">
               <span> Cơ hội tr&#250;ng xe SH150i (&#225;p dụng tại H&#224; Nội) </span>
               <span> Giảm ngay 1.000.000đ khi thanh to&#225;n trực tuyến bằng thẻ Mastercard (KH&#212;NG &#225;p dụng Trả g&#243;p)</span>
            </div>
            <span>M&#224;n h&#236;nh: 5.5&quot;, Retina HD</span>
            <span>HĐH: iOS 11</span>
            <span>CPU: Apple A11 Bionic 6 nh&#226;n</span>
            <span>RAM: 3 GB, ROM: 64 GB</span>
            <span>Camera: 2 camera 12 MP, Selfie: 7 MP</span>
            <span>PIN: Đang cập nhật</span>
            <label class="compr" onclick="qcp_addProdQcp('114110','42','iPhone 8 Plus 64GB')">So sánh với</label>
         </figure>
      </li>
      <li>
         <a href="sac-dtdd/combo-sac-du-phong-cap-micro-the-nho.html">
            <img width="388" height="180" src="static/images/Products/Images/57/125395/Feature/combo-sac-du-phong-cap-micro-the-nho-400x400.jpg">
            <h3>Combo Sạc dự ph&#242;ng 5.000 mAh - C&#225;p Micro USB 20 cm - Thẻ nhớ 16 GB</h3>
            <strong>442.000₫</strong>
            <span class="hisprice">520.000₫</span>
            <label class="new">Mới</label>
         </a>
         <figure class="bginfo">
            <span class="name">Combo Sạc dự ph&#242;ng 5.000 mAh - C&#225;p Micro USB 20 cm - Thẻ nhớ 16 GB</span>
            <strong>442.000₫</strong>
            <span>Bộ combo 3 phụ kiện tiện &#237;ch d&#224;nh điện thoại.</span>
            <span>Sạc dự ph&#242;ng eSaver Y322 5000 mAh nhỏ gọn.</span>
            <span>D&#226;y c&#225;p Micro USB ngắn 20 cm sử dụng c&#249;ng pin sạc.</span>
            <span>Thẻ nhớ 16 GB gi&#250;p mở rộng bộ nhớ m&#225;y.</span>
         </figure>
      </li>
      <li>
         <a href="dtdd/oppo-f5.html">
            <img width="388" height="180" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn.tgdd.vn/Products/Images/42/131915/Feature/oppo-f5-3-400x400.jpg" class="lazy">
            <h3>Oppo F5</h3>
            <label class="installment">Trả góp 0%</label>
            <strong>6.990.000₫</strong>
         </a>
         <figure class="bginfo">
            <span class="name">Oppo F5</span>
            <strong>6.990.000₫</strong>
            <div class="promotion">
               <span> Cơ hội tr&#250;ng tiền mặt 50 triệu hoặc Tivi Panasonic 55.</span>
            </div>
            <span>M&#224;n h&#236;nh: 6&quot;, FullHD+</span>
            <span>HĐH: ColorOS 3.2 (Android 7.1)</span>
            <span>CPU: Helio P23 8 nh&#226;n</span>
            <span>RAM: 4 GB, ROM: 32 GB</span>
            <span>Camera: 16 MP, Selfie: 20 MP</span>
            <span>PIN: 3200 mAh</span>
            <label class="compr" onclick="qcp_addProdQcp('131915','42','Oppo F5')">So sánh với</label>
         </figure>
      </li>
      <li>
         <a href="dtdd/samsung-galaxy-j7-pro.html">
            <img width="388" height="180" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn4.tgdd.vn/Products/Images/42/103404/Feature/samsung-galaxy-j7-pro-1-400x400.jpg" class="lazy">
            <h3>Samsung Galaxy J7 Pro</h3>
            <label class="installment">Trả góp 0%</label>
            <strong>6.990.000₫</strong>
         </a>
         <figure class="bginfo">
            <span class="name">Samsung Galaxy J7 Pro</span>
            <strong>6.990.000₫</strong>
            <div class="promotion">
               <span> B&#236;nh giữ nhiệt inox DMX-002 500ml (nếu kh&#244;ng c&#243; qu&#224; sẽ ho&#224;n 50,000đ, &#225;p dụng từ ng&#224;y 05/11)</span>
               <span> Cơ hội tr&#250;ng xe SH150i (&#225;p dụng H&#224; Nội v&#224; 1 số tỉnh miền Bắc)</span>
            </div>
            <span>M&#224;n h&#236;nh: 5.5&quot;, Full HD</span>
            <span>HĐH: Android 7.0</span>
            <span>CPU: Exynos, 8 nh&#226;n</span>
            <span>RAM: 3 GB, ROM: 32 GB</span>
            <span>Camera: 13 MP, Selfie: 13 MP</span>
            <span>PIN: 3600mAh</span>
            <label class="compr" onclick="qcp_addProdQcp('103404','42','Samsung Galaxy J7 Pro')">So sánh với</label>
         </figure>
      </li>
      <li>
         <a href="dtdd/sony-xperia-l1-trang.html">
            <img width="388" height="180" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn1.tgdd.vn/Products/Images/42/133496/Feature/sony-xperia-l1-trang-2-400x400.jpg" class="lazy">
            <h3>Sony Xperia L1 (Trắng)</h3>
            <label class="installment">Trả góp 0%</label>
            <strong>4.490.000₫</strong>
         </a>
         <figure class="bginfo">
            <span class="name">Sony Xperia L1 (Trắng)</span>
            <strong>4.490.000₫</strong>
            <div class="promotion">
               <span> Phiếu mua h&#224;ng trị gi&#225; 100.000đ khi mua online (Kh&#244;ng trừ v&#224;o gi&#225;)</span>
               <span> Ốp lưng trong suốt ( Nếu kh&#244;ng c&#243; qu&#224; sẽ ho&#224;n 50,000đ)</span>
            </div>
            <span>M&#224;n h&#236;nh: 5.5&quot;, HD</span>
            <span>HĐH: Android 7.0</span>
            <span>CPU: MT6737T, 4 nh&#226;n</span>
            <span>RAM: 2 GB, ROM: 16 GB</span>
            <span>Camera: 13 MP, Selfie: 5 MP</span>
            <span>PIN: 2620 mAh</span>
            <label class="compr" onclick="qcp_addProdQcp('133496','42','Sony Xperia L1 (Trắng)')">So sánh với</label>
         </figure>
      </li>
      <li>
         <a href="dtdd/iphone-6-32gb-gold.html">
            <img width="388" height="180" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn2.tgdd.vn/Products/Images/42/92962/Feature/iphone-6-32gb-gold-1-1-400x400.jpg" class="lazy">
            <h3>iPhone 6 32GB</h3>
            <label class="shockprice">Giá rẻ Online</label>
            <strong>8.490.000₫</strong>
            <strong class="hisprice">8.990.000₫</strong>
            <label class="saleonline">Giá rẻ online</label>
         </a>
         <figure class="bginfo">
            <span class="name">iPhone 6 32GB</span>
            <strong>8.490.000₫</strong>
            <div class="promotion">
               <span> Cơ hội tr&#250;ng xe SH150i (&#225;p dụng tại H&#224; Nội) </span>
            </div>
            <span>M&#224;n h&#236;nh: 4.7&quot;, HD</span>
            <span>HĐH: iOS 10</span>
            <span>CPU: Apple A8 2 nh&#226;n</span>
            <span>RAM: 1 GB, ROM: 32 GB</span>
            <span>Camera: 8 MP, Selfie: 1.2 MP</span>
            <span>PIN: 1810 mAh</span>
            <label class="compr" onclick="qcp_addProdQcp('92962','42','iPhone 6 32GB')">So sánh với</label>
         </figure>
      </li>
      <li>
         <a href="dtdd/nokia-5.html">
            <img width="388" height="180" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn4.tgdd.vn/Products/Images/42/91849/Feature/nokia-5-400x400.jpg" class="lazy">
            <h3>Nokia 5</h3>
            <label class="installment">Trả góp 0%</label>
            <strong>4.260.000₫</strong>
         </a>
         <figure class="bginfo">
            <span class="name">Nokia 5</span>
            <strong>4.260.000₫</strong>
            <div class="promotion">
               <span> Pin sạc dự ph&#242;ng 7500mah (Nếu kh&#244;ng c&#243; qu&#224; sẽ ho&#224;n 200,000đ) HOẶC Tai nghe chụp tai Kanen (Nếu kh&#244;ng c&#243; qu&#224; sẽ ho&#224;n 200,000đ)</span>
               <span> Cơ hội tr&#250;ng 3 xe Piaggio Liberty</span>
            </div>
            <span>M&#224;n h&#236;nh: 5.2&quot;, HD</span>
            <span>HĐH: Android 7.1</span>
            <span>CPU: Qualcomm Snapdragon 430 8 nh&#226;n 64 bit</span>
            <span>RAM: 2 GB, ROM: 16 GB</span>
            <span>Camera: 13 MP, Selfie: 8 MP</span>
            <span>PIN: 3000 mAh, SIM: 2 SIM</span>
            <label class="compr" onclick="qcp_addProdQcp('91849','42','Nokia 5')">So sánh với</label>
         </figure>
      </li>
      <li>
         <a href="dtdd/samsung-galaxy-note8.html">
            <img width="388" height="180" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn1.tgdd.vn/Products/Images/42/106211/Feature/samsung-galaxy-note8-3-400x400.jpg" class="lazy">
            <h3>Samsung Galaxy Note 8</h3>
            <strong>22.490.000₫</strong>
         </a>
         <figure class="bginfo">
            <span class="name">Samsung Galaxy Note 8</span>
            <strong>22.490.000₫</strong>
            <div class="promotion">
               <span> Cơ hội tr&#250;ng xe SH150i (&#225;p dụng H&#224; Nội v&#224; 1 số tỉnh miền Bắc)</span>
               <span> Bao da Clear View Samsung ch&#237;nh h&#227;ng ( &#225;p dụng từ ng&#224;y 04/11) HOẶC Bao da LED View Samsung ch&#237;nh h&#227;ng ( &#225;p dụng từ ng&#224;y 04/11)</span>
            </div>
            <span>M&#224;n h&#236;nh: 6.3&quot;, Quad HD (2K)</span>
            <span>HĐH: Android 7.1</span>
            <span>CPU: Exynos 8895 8 nh&#226;n</span>
            <span>RAM: 6 GB, ROM: 64 GB</span>
            <span>Camera: 2 camera 12 MP, Selfie: 8 MP</span>
            <span>PIN: 3300 mAh</span>
            <label class="compr" onclick="qcp_addProdQcp('106211','42','Samsung Galaxy Note 8')">So sánh với</label>
         </figure>
      </li>
      <li>
         <a href="may-tinh-bang/samsung-galaxy-tab-e-96-sm-t561.html">
            <img width="388" height="180" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn.tgdd.vn/Products/Images/522/73280/Feature/samsung-galaxy-tab-e-96-sm-t561-4-400x400.png" class="lazy">
            <h3>Samsung Galaxy Tab E 9.6 (SM-T561)</h3>
            <strong>4.990.000₫</strong>
         </a>
         <figure class="bginfo">
            <span class="name">Samsung Galaxy Tab E 9.6 (SM-T561)</span>
            <strong>4.990.000₫</strong>
            <div class="promotion">
               <span> Phiếu mua h&#224;ng Samsung trị gi&#225; 100.000đ</span>
               <span> Cơ hội tr&#250;ng xe SH150i (&#225;p dụng H&#224; Nội v&#224; 1 số tỉnh miền Bắc)</span>
            </div>
            <span>M&#224;n h&#236;nh: 9.6&quot;, WXGA TFT</span>
            <span>CPU: Spreadtrum, Android 4.4</span>
            <span>RAM: 1.5 GB, Bộ nhớ: 8 GB</span>
            <span>Camera: 5 MP, Selfie 2 MP</span>
            <span>Kết nối: 3G, nghe gọi </span>
            <span>PIN: 5000 mAh, SIM: 1 SIM</span>
            <label class="compr" onclick="qcp_addProdQcp('73280','522','Samsung Galaxy Tab E 9.6 (SM-T561)')">So sánh với</label>
         </figure>
      </li>
      <li>
         <a href="laptop/asus-ux510ux-i5-7200u.html">
            <img width="388" height="180" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn4.tgdd.vn/Products/Images/44/93939/Feature/asus-ux510ux-i5-7200u-400x400.png" class="lazy">
            <h3>Asus UX510UX i5 7200U/4GB/1TB/2GB 950M/Win10/(CN204T)</h3>
            <label class="shockprice">Giá rẻ Online</label>
            <strong>17.990.000₫</strong>
            <strong class="hisprice">18.990.000₫</strong>
            <label class="saleonline">Giá rẻ online</label>
         </a>
         <figure class="bginfo">
            <span class="name">Asus UX510UX i5 7200U/4GB/1TB/2GB 950M/Win10/(CN204T)</span>
            <strong>17.990.000₫</strong>
            <div class="promotion">
               <span> Balo Laptop Asus ( Nếu kh&#244;ng c&#243; qu&#224; sẽ ho&#224;n 100,000đ)</span>
               <span> Phiếu mua h&#224;ng 200.000đ khi mua online (&#225;p dụng từ ng&#224;y 10/11 - 30/11)</span>
            </div>
            <span>M&#224;n h&#236;nh: 15.6”, 1920x1080</span>
            <span>CPU: Intel Core i5, 2.5GHz</span>
            <span>RAM: 4GB/ HDD: 1TB</span>
            <span>VGA: NVIDIA Geforce 950MX, 2GB</span>
            <span>HĐH: Windows 10 Home</span>
            <span>Pin: 3 cell/ DVD: Kh&#244;ng</span>
            <label class="compr" onclick="qcp_addProdQcp('93939','44','Asus UX510UX i5 7200U/4GB/1TB/2GB 950M/Win10/(CN204T)')">So sánh với</label>
         </figure>
      </li>
      <li>
         <a href="laptop/asus-tp203nah-n4200-bp052t.html">
            <img width="388" height="180" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn1.tgdd.vn/Products/Images/44/113871/Feature/asus-tp203nah-n4200-bp052t-400x400.png" class="lazy">
            <h3>Asus TP203NAH N4200/4GB/500GB/Win10/(BP052T)</h3>
            <strong>10.790.000₫</strong>
         </a>
         <figure class="bginfo">
            <span class="name">Asus TP203NAH N4200/4GB/500GB/Win10/(BP052T)</span>
            <strong>10.790.000₫</strong>
            <div class="promotion">
               <span> Balo Laptop Asus ( Nếu kh&#244;ng c&#243; qu&#224; sẽ ho&#224;n 100,000đ)</span>
            </div>
            <span>M&#224;n h&#236;nh: 11.6 inch, HD</span>
            <span>CPU: Pentium, 1.1GHz</span>
            <span>RAM: 4GB, Ổ cứng HDD: 500GB</span>
            <span>Đồ họa: Intel&#174; HD Graphics</span>
            <span>HĐH: Windows 10, DVD: Kh&#244;ng</span>
            <span>Nặng 1.1 kg, PIN 2 cell</span>
            <label class="compr" onclick="qcp_addProdQcp('113871','44','Asus TP203NAH N4200/4GB/500GB/Win10/(BP052T)')">So sánh với</label>
         </figure>
      </li>
   </ul>
   <!-- phu kien -->
   <div class="acchome">
      <div class="naviacc">
         <h2>Phụ kiện giá rẻ</h2>
         <a href="op-lung-dien-thoai.html">Ốp lưng, bao da</a>
         <a href="sac-dtdd.html">Pin sạc dự phòng</a>
         <a href="cap-dien-thoai.html">Cáp sạc</a>
         <a href="the-nho.html">Thẻ nhớ</a>
         <a href="tai-nghe.html">Tai nghe</a>
         <a href="gay-tu-suong.html">Gậy tự sướng</a>
         <a href="usb.html">USB</a>
         <a href="chuot-may-tinh.html">Chuột, bàn phím</a>
         <a href="loa-laptop.html">Loa</a>
         <a href="phu-kien-khac.html">Phụ kiện khác</a>
      </div>
      <ul>
         <li>
            <a href="sac-dtdd/pin-sac-du-phong-esaver-10000-mah-la-y325.html">
               <img width="120" height="120" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn2.tgdd.vn/Products/Images/57/84857/pin-sac-du-phong-esaver-10000-mah-la-y325-111-200x200.jpg" class="lazy" alt="Pin sạc dự ph&#242;ng eSaver 10.000 mAh LA Y325">
               <h3>Pin sạc dự ph&#242;ng eSaver 10.000 mAh LA Y325</h3>
               <strong>210.000₫</strong>
               <span>300.000₫</span>
            </a>
         </li>
         <li>
            <a href="sac-dtdd/combo-sac-du-phong-10000-mah-cap-micro-usb-20-cm-a.html">
               <img width="120" height="120" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn.tgdd.vn/Products/Images/57/134185/combo-sac-du-phong-10000-mah-cap-micro-usb-20-cm-a-18-200x200.jpg" class="lazy" alt="Combo Sạc dự ph&#242;ng 10.000 mAh - C&#225;p Micro USB 20 cm - Adapter sạc 1 cổng">
               <h3>Combo Sạc dự ph&#242;ng 10.000 mAh - C&#225;p Micro USB 20 cm - Adapter sạc 1 cổng</h3>
               <strong>374.000₫</strong>
               <span>440.000₫</span>
            </a>
         </li>
         <li>
            <a href="loa-laptop/loa-bluetooth-fenda-w5.html">
               <img width="120" height="120" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn.tgdd.vn/Products/Images/382/77610/loa-bluetooth-fenda-w5-2-1-200x200.jpg" class="lazy" alt="Loa Bluetooth Fenda W5">
               <h3>Loa Bluetooth Fenda W5</h3>
               <strong>240.000₫</strong>
               <span>400.000₫</span>
            </a>
         </li>
         <li>
            <a href="loa-laptop/fenda-u213a.html">
               <img width="120" height="120" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn4.tgdd.vn/Products/Images/382/57859/fenda-u213a-anhava-200x200.jpg" class="lazy" alt="Loa vi t&#237;nh Fenda U213A - 2.0">
               <h3>Loa vi t&#237;nh Fenda U213A - 2.0</h3>
               <strong>150.000₫</strong>
               <span>220.000₫</span>
            </a>
         </li>
         <li>
            <a href="the-nho-dien-thoai/the-nho-microsd-16gb-class-10.html">
               <img width="120" height="120" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn3.tgdd.vn/Products/Images/55/69973/the-nho-microsd-16gb-class-10-7-200x200.jpg" class="lazy" alt="Thẻ nhớ Micro SD 16 GB Class 10">
               <h3>Thẻ nhớ Micro SD 16 GB Class 10</h3>
               <strong>165.000₫</strong>
               <span>280.000₫</span>
            </a>
         </li>
         <li>
            <a href="tai-nghe/tai-nghe-bluetooth-wones-wbt-01-vang-den.html">
               <img width="120" height="120" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn1.tgdd.vn/Products/Images/54/89066/tai-nghe-bluetooth-wones-wbt-01-vang-den-5-200x200.jpg" class="lazy" alt="Tai nghe Bluetooth Wones WBT-01">
               <h3>Tai nghe Bluetooth Wones WBT-01</h3>
               <strong>210.000₫</strong>
               <span>350.000₫</span>
            </a>
         </li>
         <li>
            <a href="tai-nghe/tai-nghe-ep-awei-q7vi.html">
               <img width="120" height="120" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn2.tgdd.vn/Products/Images/54/82697/tai-nghe-ep-awei-q7vi-11-200x200.jpg" class="lazy" alt="Tai nghe nh&#233;t trong Awei Q7Vi">
               <h3>Tai nghe nh&#233;t trong Awei Q7Vi</h3>
               <strong>75.000₫</strong>
               <span>150.000₫</span>
            </a>
         </li>
         <li>
            <a href="cap-dien-thoai/cap-micro-usb-2m-x-mobile-mu03.html">
               <img width="120" height="120" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX6+vqsEtnpAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" data-original="https://cdn1.tgdd.vn/Products/Images/58/77891/cap-micro-usb-2m-x-mobile-mu03-1-200x200.jpg" class="lazy" alt="D&#226;y c&#225;p Micro USB 2 m Xmobile MU03">
               <h3>D&#226;y c&#225;p Micro USB 2 m Xmobile MU03</h3>
               <strong>70.000₫</strong>
               <span>100.000₫</span>
            </a>
         </li>
      </ul>
   </div>
   <!--#region Tiện ích-->
   <div class="wrap_card">
      <aside class="mobile_card">
         <h3>Mua mã thẻ cào điện thoại</h3>
         <div class="clr"></div>
         <div id="content_1" class="content">
            <form>
               <label onclick="ChangePrice(this)" data-max="5" data-value="50000" data-price="50000"><i class="icontgdd-opt"></i>&nbsp;50.000</label>
               <label onclick="ChangePrice(this)" data-max="5" data-value="100000" data-price="98000" class="check"><i class="icontgdd-opt"></i>&nbsp;100.000</label>
               <label onclick="ChangePrice(this)" data-max="2" data-value="200000" data-price="196000"><i class="icontgdd-opt"></i>&nbsp;200.000</label>
               <label onclick="ChangePrice(this)" data-max="1" data-value="500000" data-price="490000"><i class="icontgdd-opt"></i>&nbsp;500.000</label>
               <div class="wrapchoose">
                  <div class="choosenum">1 thẻ </div>
                  <div class="numcard">
                     <a href="javascript:void(0)" data-value="1">1 thẻ</a>
                     <a href="javascript:void(0)" data-value="2">2 thẻ</a>
                     <a href="javascript:void(0)" data-value="3">3 thẻ</a>
                     <a href="javascript:void(0)" data-value="4">4 thẻ</a>
                     <a href="javascript:void(0)" data-value="5">5 thẻ</a>
                  </div>
                  <div class="money">Thành tiền: <span>98.000đ</span></div>
                  <span id="warningprice" class="warning error"></span>
               </div>
               <div class="area_input">
                  <input type="tel" class="numberphone" id="txtPhone" name="txtPhone" placeholder="Nhập số ĐT nhận mã thẻ" maxlength="11" onkeyup="checkAllCaseCard();">
                  <input type="email" class="emailcustom" placeholder="Nhập email nhận mã thẻ" id="txtEmail" name="txtEmail" maxlength="100" style="display: none;">
                  <input type="hidden" name="iQuantity" id="iQuantity" value="1" />
               </div>
               <div class="area_btn">
                  <button type="button" class="btndis" id="btnCardATM" data-value="4">
                  DÙNG THẺ ATM<br />
                  Có internet Banking
                  </button>
                  <button type="button" class="btndis" id="btnCardVISA" data-value="5">
                  DÙNG THẺ VISA<br />
                  MASTER
                  </button>
               </div>
               <span id="warningphone" class="warning error"></span>
            </form>
         </div>
      </aside>
      <aside class="pay_installment">
         <h3>Đóng tiền trả góp</h3>
         <div id="content_2" class="content">
            <form>
               <div class="row_comp">
                  <div class="choosecomp">
                     <text>Chọn công ty</text>
                  </div>
                  <div class="listcomp">
                     <a data-value="ACS">ACS</a>
                     <a data-value="PPF">HOMECREDIT</a>
                     <a data-value="VPBank">FECREDIT</a>
                     <a data-value="HDSAISON">HDSAISON</a>
                  </div>
               </div>
               <div class="row_input">
                  <input name="ddlInstallment" id="ddlInstallment" type="hidden" value="" />
                  <input autocomplete="off" type="text" id="txtHDCode" name="txtHDCode" class="code" placeholder="Nhập mã hợp đồng">
                  <div id="idWarningTraGop" class="hdtragop warning error"></div>
               </div>
               <button type="button" class="btncheck">Kiểm tra</button>
            </form>
         </div>
         <div class="helplink">
            <span>Hướng dẫn xem mã khách hàng:</span>
            <a href="tien-ich/thanh-toan-tra-gop33b5.html?n=ppf">Home Credit</a>
            <a href="tien-ich/thanh-toan-tra-gop3943.html?n=vpbank">• FE Credit/VPBank</a>
            <a href="tien-ich/thanh-toan-tra-gop2211.html?n=acs">• ACS</a>
            <a href="tien-ich/thanh-toan-tra-gop6b22.html?n=hdsaison">• HD SaiSon</a>
         </div>
      </aside>
   </div>
   <!--#endregion-->
   <div class="moreproduct">
      <a href="samsung.html">Khuyến mãi tháng 11</a>
      <a href="dtdd.html"><span></span>
      điện thoại</a>
      <a href="may-tinh-bang.html"><span></span>
      máy tính bảng</a>
      <a href="laptop.html"><span></span>
      laptop</a>
      <a href="phu-kien.html"><span></span>
      phụ kiện</a>
      <a href="may-doi-tra.html"><span></span>
      máy đã sử dụng</a>
   </div>
   <div class="clr"></div>
</section>
<div class="keyword">
   <span>Tìm kiếm nhiều: </span>
   <a href="dtdd/samsung-galaxy-j7-plus.html">• Samsung Galaxy J7+</a>
   <a href="dtdd1070.html?f=pin-khung-3000-mah">• Điện thoại pin khủng</a>
   <a href="dtdd/iphone-8-64gb.html">• iPhone 8</a>
   <a href="dtdd/samsung-galaxy-note-fe.html">• Samsung Note FE</a>
   <a href="dtdd/oppo-f5.html">• OPPO F5</a>
   <a href="dtdd/huawei-nova-2i.html">• Huawei Nova 2i</a>
   <a href="dtdd/iphone-8-plus.html">• iPhone 8 Plus</a>
   <a href="dtdd241e.html?f=chong-nuoc-bui">• Điện thoại chống nước</a>
</div>
<header>
   <div class="wrap-main">
      <a class="logo" title="Về trang chủ Thegioididong.com" href="index.html">
      <i class="icontgdd-logo"></i>
      </a>
      <form id="search-site" action="https://www.thegioididong.com/tim-kiem" method="get" onsubmit="return submitSearchForm();" autocomplete="off">
         <input class="topinput" id="search-keyword" name="key" type="text" placeholder="Bạn tìm gì..." autocomplete="off" onkeyup="SuggestSearch(event,this, 0);" maxlength="50" />
         <button class="btntop" type="submit"><i class="icontgdd-topsearch"></i></button>
      </form>
      <nav>
         <a href="dtdd.html" class="mobile" title="Điện thoại di động, smartphone">
         <i class="icontgdd-mobile"></i>Điện thoại
         </a>
         <a href="may-tinh-bang.html" class="tablet" title="Máy tính bảng, tablet">
         <i class="icontgdd-tablet"></i>Tablet
         </a>
         <a href="laptop.html" class="laptop" title="Máy tính xách tay, Laptop">
         <i class="icontgdd-laptop"></i>Laptop
         </a>
         <a href="phu-kien.html" class="phukien" title="Phụ kiện điện thoại di động, phụ kiện tablet, phụ kiện lapto">
         <i class="icontgdd-phukien"></i>Phụ kiện
         </a>
         <a href="may-doi-tra.html" class="maydoitra" title="Máy cũ giá rẻ, máy đổi trả thegioididong">
         <i class="icontgdd-maydoitra"></i><span>Máy</span>Cũ giá rẻ
         </a>
         <a href="samsung.html" class="promo" title="Các chương trình khuyến mãi tại Thegioididong">
         <i class="icontgdd-promo"></i>Khuyến mãi
         </a>
         <a href="tin-tuc.html" class="news" title="Tin công nghệ">
         <i class="icontgdd-news"></i><span>Tin</span>Công Nghệ
         </a>
         <a href="hoi-dap.html" class="ask" title="Hỏi đáp">
         <i class="icontgdd-ask"></i>Hỏi đáp
         </a>
         <a href="sim-so-dep.html" class="cardsim">Thẻ cào<br />
         Sim 3G, 4G</a>
         <a href="tien-ich/thanh-toan-tra-gopd41d.html?" class="utility">Đóng tiền điện,<br />
         nước, trả góp</a>
      </nav>
   </div>
   <div class="clr"></div>
</header>
<footer>
   <div class="rowfoot1">
      <ul class="colfoot">
         <li><a href="tra-gop.html" title="Hướng dẫn mua trả góp">Tìm hiểu về mua trả góp</a></li>
         <li><a href="bao-hanh.html" title="Tìm trung tâm bảo hành">Chính sách bảo hành</a></li>
         <li><a href="chinh-sach-bao-hanh-san-pham.html" title="Chính sách đổi trả">Chính sách đổi trả</a></li>
         <li><a href="giao-hang.html" title="Giao hàng & Thanh toán">Giao hàng & Thanh toán</a></li>
         <li class="showmore"><a href="javascript:ShowMoreFooterSupportLink()" title="Xem thêm">Xem thêm</a></li>
         <li class="hidden"><a href="huong-dan-mua-hang.html" title="Hướng dẫn mua online">Hướng dẫn mua online</a></li>
         <li class="hidden"><a href="b2b.html" title="Mua hàng doanh nghiệp">Bán hàng doanh nghiệp</a></li>
         <li class="hidden"><a href="phieu-mua-hang.html" title="Phiếu mua hàng">Phiếu mua hàng</a></li>
         <li class="hidden"><a href="http://hddt.thegioididong.com/" target="_blank" title="In hóa đơn điện tử" rel="nofollow">In hóa đơn điện tử</a></li>
         <li class="hidden"><a href="tos.html" title="Quy chế hoạt động">Quy chế hoạt động</a></li>
         <li class="hidden"><a href="noi-quy-cua-hang.html" title="Nội quy cửa hàng">Nội quy cửa hàng</a></li>
         <li class="hidden"><a href="chat-luong-phuc-vu.html" title="Chất lượng phục vụ">Chất lượng phục vụ</a></li>
         <li class="hidden"><a href="trao-thuong.html" title="Thông tin trao thưởng">Thông tin trao thưởng</a></li>
      </ul>
      <ul class="colfoot">
         <li><a href="http://mwg.vn/" target="_blank" title="Giới thiệu công ty (mwg.vn)">Giới thiệu công ty <span>(mwg.vn)</span></a></li>
         <li><a href="http://vieclam.thegioididong.com/" target="_blank" title="Tuyển dụng">Tuyển dụng</a></li>
         <li><a href="lien-he.html" title="Gửi góp ý, khiếu nại">Gửi góp ý, khiếu nại</a></li>
         <li><a href="he-thong-sieu-thi-the-gioi-di-dong.html" title="Tìm siêu thị (1658  shop)">Tìm siêu thị <span>(1658 shop)</span></a></li>
         <li>
            <a class="viewmb" rel="nofollow" href="javascript:window.location.href='index5888.html?sclient=mobile'" title="Xem bản mobile">Xem bản mobile</a>
         </li>
      </ul>
      <ul class="colfoot">
         <li>
            <p>Gọi mua hàng <a href="tel:18001060">1800.1060</a> (7:30 - 22:00)</p>
            <p>Gọi khiếu nại <a href="tel:18001062">1800.1062</a> (8:00 - 21:30)</p>
            <p>Gọi bảo hành <a href="tel:18001064">1800.1064</a> (8:00 - 21:00)</p>
            <p>Hỗ trợ kỹ thuật <a href="tel:18001763">1800.1763</a> (8:00 - 21:00)</p>
            <a target="_blank" rel="nofollow" class="bct" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=20098"><i class="icontgdd-bct"></i></a>
         </li>
      </ul>
      <ul class="colfoot collast">
         <li>
            <a target="_blank" href="https://facebook.com/thegioididongcom" class="linkfb">
            <i class="icontgdd-share1"></i>2.9tr
            </a>
            <a target="_blank" href="https://www.youtube.com/user/TGDDVideoReviews?sub_confirmation=1" class="linkyt">
            <i class="icontgdd-share3"></i>266.7k
            </a>
            <div class="group">
               <label>Website cùng tập đoàn:</label>
               <a href="http://www.dienmayxanh.com/" target="_blank" rel="noopener" class="dm"><i class="iconlogo-dmx"></i></a>
               <a href="http://www.bachhoaxanh.com/" target="_blank" rel="noopener" class="bhx"><i class="iconlogo-bhx"></i></a>
               <a href="http://www.vuivui.com/" target="_blank" rel="noopener" class="vv"><i class="iconlogo-vv"></i></a>
            </div>
         </li>
      </ul>
   </div>
   <div class="rowfoot2">
      <p>© 2017. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007. GP số 22/GP-ICP-STTTT do Sở TTTT TP HCM cấp ngày 20/03/2012.
         Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 18001060. Email: cskh@thegioididong.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. <a href="tos.html">Xem chính sách sử dụng web</a>
      </p>
   </div>
</footer>
<p id="back-top">
   <a href="#top" title="Về Đầu Trang"><span></span></a>
</p>
<div id="dlding">Đang xử lý, vui lòng đợi trong giây lát...</div>