
<link rel="stylesheet" href="static/css/homepage.css" />

<!-- <header id="fh5co-header-section" role="header" class="section-logo">
	<div class="header-lv">
		<div class="container">
			<div id="fh5co-menu-logo" class="banner">
				<div class="col-xs-11 col-xs-offset-1">
					<div id="box-sologan">
						<p id="sologan">Alameda County Public Health Department</p>
						<p id="sologan-2nd">Administrative & Finance</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<header id="fh5co-header-section" role="header" class="section-nav line">
	<div class="container" style="position: relative">
		<div id="logo-header">
			<a ui-sref="front.home">
				<img src="static/images/a_logo_r.png" alt="Alameda County Public Health Department - Administrative: SB12 System">
			</a>
		</div>
		<nav id="fh5co-menu-wrap" role="navigation">
			<ul class="sf-menu" id="fh5co-primary-menu">
				<li ng-class="{active: vm.$state.includes('user')}"><a ui-sref="user.login">Log In</a></li>
				<li ui-sref-active="active" ng-class="{active: vm.$state.includes('front.faqs')}"><a ui-sref="front.faqs">FAQS</a></li>
				<li ui-sref-active="active" ng-class="{active: vm.$state.includes('front.about')}"><a ui-sref="front.about">About</a></li>
				<li ui-sref-active="active" ng-class="{active: vm.$state.includes('front.home')}"><a ui-sref="front.home">Home</a></li>

			</ul>
		</nav>
	</div>
</header> -->

<div ui-view="content" class="content-wrapper" style="min-height: 680px">

</div>

<!-- <footer role="contentinfo" id="fh5co-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-6 footer-box">
				<h3 class="fh5co-footer-heading">Contact us</h3>
				<p class="mg-bottom-5">Alameda County Public Health Department
						<br> Administrative & Finance
						<br> 1000 Broadway, Suite 500<br> Oakland, CA 94607<br>Phone: (510) 267-8050</p>
			</div>
			<div class="col-xs-4 col-xs-6 footer-box">
				<h3 class="fh5co-footer-heading">Links</h3>
				<ul class="fh5co-footer-links">
					<li><a target="_blank" href="http://www.a.org">Alameda County Public Health Department</a></li>
				</ul>
			</div>
			<div class="col-xs-4 col-xs-12 footer-box">
				<h3 class="fh5co-footer-heading">Get in touch</h3>
				<ul class="fh5co-social-icons">
					<li><a target="_blank" href="https://www.youtube.com/user/AlamedaCountyCA"><i class="ti-youtube"></i></a></li>
					<li><a target="_blank" href="https://twitter.com/AlamedaCounty"><i class="ti-twitter-alt"></i></a></li>
					<li><a target="_blank" href="https://www.facebook.com/AlamedaCounty/"><i class="ti-facebook"></i></a></li>
					<li><a target="_blank" href="https://www.linkedin.com/company/alameda-county"><i class="ti-linkedin"></i></a></li>

				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-6 text-left">
				<a ng-click="vm.openContactUs()" href="#">Email To Us</a>
			</div>
			<div class="col-xs-8 col-xs-6 text-right">
				<p class="no-margin">@2017 All Rights Reserved</p>
			</div>
		</div>
	</div>
</footer> -->